#header
{
	
}


.footer
{
	
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: black;
	text-align: center;
	padding: 5;
	
}

.allMenus

{
	
	display:none;
	border-bottom: 1px solid black;
	
	position: absolute; 
	top: 28px;
	left: 2px;
	padding: 10px;
	
}

#projects
{
	
}

#contact
{

}